.perfil {
    position: relative;
    max-width: 200px;
}

.descricao-site {
    position: absolute;
    top: 50px;
    left: 300px;
}

.menu {
    position: absolute;
    right: 50px;
    top: 100px;
}

.menu li {
    display: inline;
}

main {
    width: 940px;
	margin: 0 auto;
}

main div {
    display: inline-block;
    border: 1px solid #000000;
    vertical-align: top;
}

.projeto {
    height: 150px;
    width: 300px;
    display: block;
}

footer p{
    width: 100%;
    text-align: center;
}
