* {
    box-sizing: border-box;
}

header, footer {
    background: linear-gradient(0deg, #ffbc00, #ffdf00);
}

body {
    font-family: 'Roboto', sans-serif;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.perfil {
    width: 20%;
    max-width: 150px;
    min-width: 100px;
    padding: 10px;
    border-radius: 20px;
}

.descricao-site {
    text-align: center;
    margin: 0 2%;
}

main {
    background-color: #fafafa;
}

.container {
    width: 80%;
	margin: 0 auto;
}

.titulo-projetos {
    font-size: 2em;
    padding: 20px 0px;
}

.projeto {
    display: inline-block;
    border: 1px solid lightgrey;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    padding: 5px;
}

.projeto:hover {
    box-shadow: 0px 0px 5px 0px lightgrey;
}

.projeto-nome {
    padding: 15px;
    font-size: 1.5em;
    border-bottom: 1px solid #e1e1e1
}

.projeto-descricao {
    padding: 5px;
    padding-top: 10px;
    font-size: 1em;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
}

.projetos li {
    width: 31%;
    margin: 1%;
}

.titulo-projetos {
    margin-left: 1%;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

/*parte mobile*/
@media(max-width: 1024px) {
    .projetos li {
        width: 100%;
    }
}